<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
      <script src='javascripts/jquery-3.1.0.min.js'></script>
      <script src='javascripts/handlebars-v4.0.5.js'></script>
      <script src='javascripts/script.js'></script>
  </head>
  <body>
    <h1 id="display-3">{{title}}</h1>
    <div id="sectionJoke">{{{body}}}</div>
    <div id="buttons">
        <button id="btnPrev"><< prev</button>
        <button id="post">post</button>
        <button id="btnNext">next >></button>
    </div>
  </body>
</html>
