/*GENERAL*/
/*======================*/

body {
    font: 20px "", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

button {

}

/*CLASSES*/
/*======================*/

.panel-body {
    min-height: 200px;
}